.idea
**/__pycache__/

data/
src/arch/
src/config/*
src/image/
src/data/
src/others/
src/predictions/
src/results/
src/utils/vision/
src/weights/

*.zip
*.txt
*.cfg
*.yml
*.png
*.jpg
*.jpeg
*.pt

!**/template/*
!environment.yml
!requirements.txt
